

.certificate{
  display: inline-block;
  vertical-align: middle;
  margin: 20px;
  line-height: 2.0;
  transition: 1.0s;
}

#certificate h2{
  margin: 0;
  padding-top: 100px;
  padding-bottom: 20px;
}

#certificate span{
	text-align: left;
}

#certificate summary:hover{
	max-width: 250px;
	text-align: center;
	transition: all .8s;
}

#certificate summary{
	padding: 40px;
	max-width: 220px;
	background-color: rgba(255, 248, 240, 0.5);
	text-align: left;
	border-radius: 50px;
	background: #303036;
	color: White;
	transition: .8s;
}

#certificate img{
  width: 300px;
}

#certificate img:hover{
	width: 400px;
	transition: width 1.0s;
}



@media (max-width: 768px){
  #certificate img:hover{
  	width: 350px;
  }

  #certificate img{
    width: 300px;
  }
}
