

header img{
  width: 50%;
  display: block;
  margin-left:auto;
  margin-right: auto;
}

h1{
  color:#0a5725;
}

table{
	border-collapse: collapse;
}

/*---------------------------Soft Skill----------------------------------------*/

.soft-skill{
  display: inline-block;
  vertical-align: middle;
  margin: 30px;
  line-height: 2.0;
  transition: width 1.5s;
}

.soft-skill li{
    text-align: left;
    max-width: 500px;
}

#softskill img{
	border-radius: 50%;
	transition: 1.0s;
}

#softskill img:hover{
	width: 450px;
	transition: border-radius width 1.0s;
	border-radius: 3%;
}

#softskill1{
	background-color: rgba(250, 248, 240, 0.7);
	 margin: auto;
  	width: 100%;
  	padding-top: 15px;
  	padding-bottom: 10px;
}

#softskill2{
	background-color: rgba(240, 248, 240, 0.7);
	margin: auto;
  	width: 100%;
  	padding-top: 10px;
  	padding-bottom: 0px;
  	border-radius: 40px;
}
/*---------------------------------------------------------------------------------*/

/*Technical Skill*/
#technical{
	background-color: rgba(250, 250, 250, 0.7);
  padding-top: 50px;
}

#technical-language{
  background: rgba(255, 255, 255, 0.7);
}

.technical-skill{
  padding-bottom: 50px;
}

.technical-skill img{
  width: 100px;
}
.technical-skill tr, .technical-skill th, .technical-skill td {
  padding: 30px;
}





.technical-language{
	display: inline-block;
	padding: 25px;
	vertical-align: top;
}

.technical-language img{
  width: 90px;
  align-items: center;
}

.technical-language tr, .technical-language th, .technical-language td {
  padding: 20px;
}



.bar{
  background: white;
  display: block;
  height: 20px;
  border: 1px solid #353535;
  border-radius: 20px;
  overflow: hidden;
}
.bar span{
  height: 21px;
  float: left;
  background: #0a5725;
}
.intermediatepercent{
  width: 75%;
}
.intermediatepercent span{
  color: white;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 2px;
}


/*Media queries*/
@media (max-width: 768px){

  header img{
    width: 100%;
    display: block;
    margin-left:auto;
    margin-right: auto;
  }

  #softskill img{
    width: 100%;
    display: block;
    margin-left:auto;
    margin-right: auto;
  }

  #softskill img:hover{
    width: 100%;
  }

  .soft-skill{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }

.technical-skill tr, .technical-skill td,  .technical-skill th{
    display: block;
    width: 100%;
    border-collapse: collapse;
    padding-bottom: 0px;

  }

  #technical .technical-skill .techSkillimg{
    padding-left: 0;
    padding-top: 0px;
    padding-bottom: 0;
  }
  #technical .technical-skill .techSkillName{
    padding-top: 0;
    padding-bottom: 50px;
  }

}
